*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: radial-gradient(circle at 50% 35%, #334455, #000);
  
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    perspective: 1000px;
    margin-top: 10%;
}


.cuboid {
    --width: 20vmin;
    --height: 60vmin;
    --depth: 20vmin;
    height: var(--height);
    width: var(--width);
    position: relative;
    /* transform: rotateX(-10deg) rotateY(32deg); */
    transform-style: preserve-3d;
    margin-left: 80px;
}

.cuboid:nth-of-type(1){
    animation: move .90s linear infinite;
    animation-timing-function: ease-in-out; 
    animation-direction: alternate;
}

/* .cuboid:nth-of-type(1):hover{
    transform: rotateY(360px);
} */



.cuboid:nth-of-type(2){
    animation: move 1s linear infinite;
    animation-timing-function: ease-in-out; 
    animation-direction: alternate;
}

.cuboid:nth-of-type(3){
    animation: move 1.10s linear infinite;
    animation-timing-function: ease-in-out; 
    animation-direction: alternate;
}

.cuboid:nth-of-type(4){
    animation: move 1.20s linear infinite;
    animation-timing-function: ease-in-out; 
    animation-direction: alternate;
}


@keyframes move { from {
    transform: translateY(0); }
    to{
    transform: translateY(50px);
    } }



.col{
    background-color: hsla(0, 0%, 100%, 0.2);
    border: 1px solid hsl(0, 0%, 10%);
    position: absolute;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.col:nth-of-type(1),
.col:nth-of-type(2){
    --coefficient: -0.5;
    height: var(--height);
    width: var(--width);
    transform: translate3d(0, 0, calc(var(--depth) * var(--coefficient)));
}

.col:nth-of-type(2){
    --coefficient: 0.5;
}

.col:nth-of-type(3),
.col:nth-of-type(4){
    --rotation: 90deg;
    height: var(--height);
    width: var(--depth);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotateY(var(--rotation)) translate3d(0, 0, calc(var(--width) * -0.5));
}

.col:nth-of-type(4){
    --rotation:-90deg;
}


.col:nth-of-type(5),
.col:nth-of-type(6){
    --rotation: -90deg;
    height: var(--depth);
    width: var(--width);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotateX(var(--rotation)) translate3d(0, 0, calc(var(--height) * -0.5));
}

.col:nth-of-type(6){
    --rotation:90deg;
}



h2{
    padding: 10px;
    color: white;
    border-radius: 10px;
    transition: background 0.3s ease-in;
}

h2:hover {
    background: rgba(0,0,0, 0.1);
    cursor: pointer;
}

button{
    outline: none;
    border:  none;
    background: transparent;
    font-size: 1.5rem;
    color: white;
    padding: 10px;
    border-radius: 10px;
    transition: background 0.3s ease-in;
}
button:hover {
    background: rgba(0,0,0, 0.1);
    cursor: pointer;
}

:root {
    --black: hsl(100, 100%, 100%);
    --time: 500ms;
 }

/* button {
    height: 44px;
    padding: 0 16px;
    cursor: pointer;
 } */
 
 #parent {
    width: 1000px;
    aspect-ratio: 2/1;
    padding: 16px;
    perspective: 1000px;
 }
 
 #child {
    width: 100%;
    height: 100%;
 
    position: relative;
 
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform var(--time);
 
    border: 1px solid var(--black);
 }
 
 #parent[data-rotate=true] #child {
    transform: translate3d(0px, 0px, -200px) rotate3d(1, 0, 0, 60deg);
 }
 
 .grandChild {
    width: 20%;
    aspect-ratio: 3/1;
    position: absolute;
    top: 8px;
    right: 8px;
    border: 1px solid var(--black);
    transition: transform var(--time);
 }

 .child-two{
    left: 8 !important;
 }
 
 #parent[data-rotate=true] .grandChild {
    transition-delay: var(--time);
    transform: translate3d(0, 0, 100px) rotate3d(1, 0, 0, 150deg);
 }
 
 #parent[data-rotate=true] .grandChild:nth-child(2) {
    transform: translate3d(0, 0, 180px) rotate3d(1, 0, 0, 150deg);
 }
 
 #parent[data-rotate=true] .grandChild:nth-child(3) {
    transform: translate3d(0, 0, 250px) rotate3d(1, 0, 0, 150deg);
 }
